log/*.log
tmp/**/*
doc/api
doc/app
.svn
config/*deploy.rb
!config/example_deploy.rb
config/database.yml
config/initializers/session_store.rb
config/environments/production.rb
db/*.sqlite3
db/mapfiles/*
db/maptileindex/*
db/schema.rb
nbproject
public/mapimages/dst/*
public/mapimages/src/*
public/mapimages/*.g*
public/tiles
public/uploads/*
!public/uploads/original
!public/uploads/thumb
rbeautify.rb
*.*~




