<h2> Comments </h2>
<%unless @comments.empty? -%>
  <%= render :partial => 'comments/comment', :collection => @comments %>
<% else -%>
  There's no comments for this map, why not add one now! <br />
<% end -%>
<% if user_signed_in? %>
  <%= render :partial => 'comments/comment_form', :object => @map, as: 'comment_obj' -%>
<% else -%>
  <%= link_to "Log in to add a comment", new_user_session_path() %> 
<% end -%>
