<h3><%= t('.header') %></h3>
<%= t('.help_text_html') %>
<p>
<%=  button_to t('.no_button'), map_path(@map), :method=>:get %>
<br /><br /><br />
<%=  button_to t('.yes_button'), map_path(@map),:method=>:delete, :href => '#' %>

</p>