<h2><%= t('.header') %></h2>


<%- if (current_user == @map.owner || admin_authorized?) -%>
   <p>&mdash; <%=  link_to t('.delete_link'), delete_map_path(@map)  %> &mdash; </p>
<% end %>

<%= render :partial => "form_remote", :locals => {:page => "edit"} %>
<div style="clear: both;"></div>

