<h2>Upload a new map</h2>

<%= error_messages_for :map %>
<p>
  By uploading images to the website, you agree that you have permission to do so, and accept that anyone else
  can potentially view and use them, including changing control points.
</p>
<%= render :partial => "form", :locals => {:page => "new"} %>
<%= link_to 'Back', maps_path %>
