
  <p>
    This map is currently unloaded. You can log in to load it up into the system. <br />
    From: <%= link_to @map.source_uri, @map.source_uri  %><br />
    A low resolution preview of the map is shown below.  <br />
  </p>
  <% 
  extname = File.extname self.maps.first.image_url
  if [".tiff", ".tif"].include? extname.downcase
    preview_url =  @map.image_url.gsub('commons/', 'commons/thumb/') + '/lossless-page1-600px-' + File.basename(@map.image_url).gsub('File:', '') + '.png'
  else
    preview_url =  @map.image_url.gsub('commons/', 'commons/thumb/') + '/600px-' + File.basename(@map.image_url).gsub('File:', '')
  end
    
   
  
  %>
  <%= image_tag (preview_url) %>
