
  <p>
    This map is currently unloaded. You can log in to load it up into the system. <br />
    From: <%= link_to @map.source_uri, @map.source_uri  %><br />
    A low resolution preview of the map is shown below.  <br />
  </p>
  <% 
  mime = @map.upload_content_type
  if mime == "image/tiff"
    preview_url = @map.thumb_url.sub(/page1-100px/, "page1-600px")
  else
    preview_url = @map.thumb_url.sub(/\/100px/, "/600px")
  end
  %>
  <%= image_tag(preview_url) %>
