#warper-maindiv {
    margin: 1.5em;
}
/*
* for map form
*/
div.span-12, div.span-24 {float:left;margin-right:10px;}
.span-12 {width:370px;}
.span-24 {width:910px;}
.last {margin-right:0;padding-right:0;}
div.last {margin-right:0;}
form.new_map {float: left;}
form.edit_map {float: left;}
.tiny-text {
    font-size: 0.6em;
}
.publicprivate {
    color:    #C0C0C0;
    font-style: italic;
}

.tags {     font-size: 0.8em;    }

#view-maps-index-link {
  font-size: 10px;
  font-weight: normal;
}
.searchmap-popup {
font-size: 10px;
}
#searchmap
{     margin-left: 2px;
        position: relative;
        z-index: 22;
	height:650px;
	border:1px solid #999999;
}


#searchmap-container{
height: 650px;
}
#searchmap-list-block {
width: 55%;
overflow: auto;
height: 100%;
float: left;
}
#searchmap-block{
width: 44%;
float: right;
}
#searchmap-table td {
font-size: 70%;
}
#searchmap-table td.mini-map-thumb {
width: 80px;
}
#searchmap-table tfoot td {
  text-align: center;
  font-size: 110%;
}

.normal { background-color: #CCCCCC }
.highlight { background-color: #8888FF }

#under-searchmap-container{
clear: both;
}
#geofrm input.geosearch-button
{
	font-size:110%;
	font-weight:700;
	overflow:visible;
	padding-bottom:0;
	padding-left:1em;
	padding-right:1em;
}

.layermap-popup {
font-size: 10px;
}
.geosearchform div{
display: inline;
}
.geosearchform {
display: inline;
padding-bottom:5px;
}
.map-type-form {
 display: inline;
}
.map-type-form div{
 display: inline;
}

.user-admin {
  margin: 1em;
  border: 1px solid coral;
}

.x-panel-body-noheader {
  border-top: 0px;
  border-style: none;
}
#dig-panel {
 border: 1px solid #D0D0D0;
}

#warped-slider {
  bottom: 30px;
  width: 15em;
  margin-bottom: -10px;
  margin-left:auto;
  margin-right:auto;
  z-index: 1500;
  height: 8px;
}
#warped-slider .ui-slider-handle{
  height: 15px;
}
#digitizer-slider {
  bottom: 30px;
  width: 15em;
  margin-bottom: -10px;
  margin-left:auto;
  margin-right:auto;
  z-index: 1500;
  height: 8px;
}
#digitizer-slider .ui-slider-handle{
  height: 15px;
}
.moar-button {
width: 90%;
height: 2.7em;
}

ul.list {
  font-size:11px;
  list-style-type:disc;
  padding:0 0 0 16px;
}

.admin-only {
  color: #00FF00;
}
body
{
  	background: #fff;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size:95%;
	color: #5e564b;
	margin: 0 0 0 0;
}

#headerDiv-layer h1 {
font-size: 2em; margin: .67em 0  !important;
}

 h2 {
font-size: 1.5em;
margin: .83em 0;
}
 h3 {
font-size: 1.17em;
margin: .83em 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 100  !important;
	color: #000;
}

a, a:link {
	color: #002200;
	text-decoration: none;
}

a:visited {
	color: #002200;
}

a:hover {
	color: #00CC00;
}

h1 {
	background: url(/images/header_logo.png) 0 50% scroll no-repeat;
	padding: 8px 0 7px 60px !important;
	margin: 10px 1em !important;
    font-size: 2em !important;
}

h1 a, h1 a:link, h1 a:visited {
	color: #000;
}

p {
	line-height: 1.6;
}
.nypl_link {
	background: #5e564b;
	font-size: small;
	padding: .2em 1em;
}

.nypl_link a, .nypl_link a:link, .nypl_link a:visited {
	color: #fff;
}



#sortable {list-style-type: none; margin:0; padding: 0;}
#sortable li {margin: 3px 3px 3px 0; padding: 1px; float: left; width: 150px; height: 150px; font-size: 2em; text-align: center;line-height:150px; }
#sortable li img {vertical-align: middle;display: inline; }
#mapgrid {width:350px; margin:auto;}
.layer-properties * td { background-color:#ddd; margin: 2px; }
.layer-properties * td.property { width:25%;  font-style: italic; }

.addPointHighlighted{
  border: 2px solid #00F2AB;
  display:inline;
  padding:5px 3px 8px;
}
.addPoint{
  display:inline;
  padding:5px 3px 8px;

}
#rectifyNotice,#maskresult {
 text-align:center;
}

#link-map-button{
 width:20px;
 height:20px;
 float:left;
 margin-left:5px;
}
/* icons from http://www.famfamfam.com/lab/icons/silk
*/
.link-map-button-on{
float:left;
background-image:url('icons/lock.png');
background-repeat:no-repeat;
}
.link-map-button-off{
float:left;
background-image:url('icons/lock_open.png');
background-repeat:no-repeat;
}
.maskresult {
font-weight: strong;
}

.headerDiv {
	position: relative;
	margin: 0 !important;
	background: #e2dedb url(/images/header_bg.jpg) 0 -30px scroll;
	padding: 1px 0 0 0 !important;;
}

h1 span {
	color: #5e564b;
}

.headerDiv .user_status {
	position: absolute;
	top:1em  !important;;
	right:1em  !important;;
	text-align: right;
}
.headerDiv .user_status a {
	background: #e3e3d4;
	font-weight: bold;
	padding: 0 3px 3px  !important;;
}

#align_form_div {
clear: both;
}

#align-accordian td.align-map-title{
  font-size: smaller;
}

.headerDiv .header .userStatus {
  color: #999999;
  font-size: 11px  !important;;
  padding: 6px 10px 2px !important;;
  text-align: right;
  vertical-align: top;

}

ul.no_bullet
{
	list-style-type:none;
}

ul.no_bullet li
{
	margin-top:3px;
}

.fake_link {
text-decoration: underline;
float:right;
}

.activity-table {
width:100%;

}
.activity-table th {
text-align:left;
}

#add_layer_control {
  float:right;
  font-size: x-small;
text-decoration: underline;
}
#add_layer {
float:right;
border: dashed;
}
.usertable {
width: 100%;
}

.browse{
  margine: 0 1em;
}
#search-form {
	padding: 1em;
	background: #fff;
	border: 1px solid #ccc;
}
#searchform #query{
      width:10em;
}
#search-form input {
	vertical-align: center;
}

#search-title {
font-size: 2em;
font-weight: bold;
clear: both;

}

#search-sort {
        float: right;
	clear: right;
	text-transform: lowercase;
	font-family: Verdana;
	padding: 0.5em;
	font-size: 0.8em;
	font-weight: bold;
}

#search-pagination-top {
	text-transform: lowercase;
	font-family: Verdana;
	padding: 0.5em;
	font-size: 0.8em;
	font-weight: bold;

}
#search-pagination-bottom {
	text-align: center;
	text-transform: lowercase;
	font-family: Verdana;
	padding: 0.5em;
	font-size: 0.8em;
	font-weight: bold;
}

.clear{
	clear: both;        /* extend height of .main to longest column */
	height: 1px;
    overflow: hidden;   /* prevent IE expanding the container */
	margin: 0;          /* keep flush with surrounding blocks */

}
#container {
    margin: 0;
}

#left-col {
	float: left;
	margin: 1em;
	padding: 1em;
	width: 320px;
	background: #eeeee0;
	border: 1px solid #ccc;
}

#left-col h2 {
	margin-top: 0;
}

#right-col{
margin-left:386px;
padding: 1em 1em 1em 0;
}

#whats_this_all_about
{
 

}

#video_tutorial {
}
#map_list
{
  clear:right;
}

#panel-under-tabs{
  clear: both;
 /* border-right: 1px solid #776655;
  border-left: 1px solid #776655;
  border-bottom: 1px solid #776655;
 */
  padding-top:0.6em;
 position: relative;
 z-index: 10;
}

.map_links_bigger {
 font-size:100%;
	margin: .5em 0;
}

.map_links
{
	font-size:60%;
}

.hidden {
 display: none;
  }

.unhidden { 
display: block; 
}

#scriptout{
font-size:smaller;
font-style:italic;
color:lightGrey;
}

#advanced_form_options {
font-size:smaller;
margin-top:5px;
}

#advanced_form_options select {
font-size:smaller;
border-style:ridge;
}

#errorExplanation
{
	border:5px solid #F93;
	font-size:smaller;
	padding:10px;
}

#loading {
  font-size:1.2em;
  color:#E71C1C;
  clear:both;

}

.mapstatus, .not-map {
font-weight: bold;
}

#notice
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:40%;
	border:5px solid #ccc;
	margin-top:10px;
	font-weight:700;
	padding:10px;
}
#error
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:40%;
	border:5px solid #eec;
	margin-top:10px;
	font-weight:700;
	padding:10px;
}

#nav {
	margin: 0;
	padding: 0;
}
#navlist {
	padding: 3px 0 3px 1em;
	margin: 0;
	border-bottom: 1px solid #999;
	font-weight: bold;
}

#navlist li {
	list-style: none;
	margin: 0;
	display: inline;
}

#navlist li a, #navlist li span {
	padding: 3px 1em;
	margin-left: 3px;
	border: 1px solid #999;
	border-bottom: none;
	background: #e3e3d4;
	text-decoration: none;
}

#navlist li a:hover {
	background: white;
}

#navlist li span {
	background: white;
	border-bottom: 1px solid white;
}

#footer {
	text-align:center;
	font-size:smaller;
	text-transform: uppercase;
	clear:both;
	padding: 1em;
	margin: 1em 0;
	border-top: 1px solid #5e564b;
}
.star
{
	float:right;
}

.table0
{
	background:#fdfff2 none repeat scroll 0;
	vertical-align:top;
}

.table1
{
	background:#FFF none repeat scroll 0;
	vertical-align:top;
}
.table2
{
	background:#F0F8FF none repeat scroll 0;
	vertical-align:top;
}

#map_table, #layer_table {
	border-bottom: 1px solid #ccc;
        clear: right;
}

#map_table td, #map_table th, #layer_table td, #layer_table th {
	border-top: 1px solid #ccc;
	padding: 5px 15px;
	vertical-align: top;
	text-align: left;
	margin: 0;
}
 #layer_table_detail td, #layer_table_detail th {
	border-top: 1px solid #ccc;
        background: #ccffcc;
	padding: 5px 15px;
	vertical-align: top;
	text-align: left;
	margin: 0;
}



#map_table th {
	font-weight: bold;
	background: #e3e3d4;
}
#layer_table th {
        font-weight: bold;
        background: #ccffcc;
}

#map_table a img, #layer_table a img {
	border: 1px solid #fff;
}

#map_table a:hover img, #layer_table a:hover img{
	border: 1px solid #f90;
}


.layer_mapcount {
  font-size:1.1em;
  font-weight:bold;
}
.layer_visibility {
font-size:smaller;
font-style:italic;
}
.map_summary, .layer_summary
{
	font-size:smaller;
}
.map_description, .layer_description
{
        margin: .2em 0 .5em;

}
.map_description span, layer_description span {
	font-style: italic;
}
.maplist_title, .layer_title
{
	font-size:larger;
	font-weight:700;
        color: #010;
}
.maplist_title a, .layer_title a {
  text-decoration: none;
 color: #010;
}
.maplist_title a:hover {
  text-decoration: underline;
  color: #0C0;
}
.continue_link {
	margin: 1em;
}

#opacity
{
	text-align:center;
	width:2em;
	font-family:sans-serif;
	background:transparent;
	color:#000;
	border:0;
	padding:0;
}


#map, #unmap, #clipmap, #warpedmap
  {     margin-left: 2px;
        position: relative;
        z-index: 22;
	height:500px;
	border:1px solid #999999;
}

#to_map_block
{
  position: relative;
  z-index: 20;
	float:right;
      /* border:1px solid gray; */
	width:48.5%;
}

#from_map_block
{
  position: relative;
  z-index: 20;
	float:left;
	/* border:1px solid gray; */
	width:48.5%;
}

#gcp
{
	clear:both;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#gcp input.gcp_button
{
	font-size:84%;
	font-weight:bold;
	margin-top:5px;
	padding:2px;
        /* cursor: pointer; */
        
}

#gcp input.gcp_button_highlighted
{
	font-size:84%;
	font-weight:bold;
	margin-top:5px;
	padding:2px;
        cursor: pointer;
        border: 2px solid #00F2AB;
        
}

.map {
  cursor: crosshair;
}

/* #div_gcp_form input */
/* { */
/* 	width:120px; */
/* } */


#cliphelp img {
  vertical-align:top;

}


#div_gcp_form li input
{
	border-style:solid;
	border-width:1px;
	font-size:9pt;
	width:7em;
}

#div_gcp_form .delete_button
{
	font-size:smaller;

	border-style:outset;
	width:5em;

}

#div_gcp_form .add_row_button
{
	border-style:outset;
	border-width:1px;
	font-size:9pt;
	width:5em;

}
#div_gcp_form input.warp_button
{
	font-size:110%;
	font-weight:700;
	overflow:visible;
	padding-bottom:0;
	padding-left:1em;
	padding-right:1em;
}

#div_gcp_form input.button[warp_button]
{
	font-size:110%;
	width:auto;
}

#gcp_table_div {
margin-bottom: 1em;
}

table#gcp_table {
width: 100%;
border: 1px solid #000;
border-collapse:collapse;
font-size:80%;
}

table#gcp_table td {

}
table#gcp_table th {
text-align: left;
}
table#gcp_table tr {

}
table#gcp_table caption {
text-align: left;
font-weight: bold;
font-size:larger;
border: 1px solid #000;
}
table#gcp_table input {
	border-width:1px;
	font-size:9pt;
	width:10em;
}

table#gcp_table input.red {
color: #ff6a51;
}
table#gcp_table input.orange {
color: #ffd201;
}

table#gcp_table input.green {
color: #00e400;
}
table#gcp_table input.blue {
color: #00aeff; 
}

#from_map,#to_map
{
        position: relative;
        z-index: 2;
	height:420px;
        cursor: crosshair;

}
.map-off {
	border:2px solid #999999;
}
.map-on {
	border:2px solid #00f2ab;
}

.highlighted {
border:2px solid #00f2ab;
}


/* OPENLAYERS spechul stilz */
div.olControlMousePosition
{
	bottom:0;
	display:block;
	font-family:Arial;
	font-size:smaller;
	position:absolute;
	right:3px;
	color:red;
}

.olControlAttribution
{
	bottom:2px!important;
}

.olControlLayerSwitcher
{
	font-size:7pt!important;
}

 .olControlEditingToolbar  {
    float:right;
    right: 0px;
    height: 32px;
    width: 110px !important;
    background: #FFFFFF;
    border:1px solid gray;
}

.olControlEditingToolbar div { 
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}
 .olControlEditingToolbar2  {
    float:right;
    right: 0px;
    height: 32px;
    width: 155px !important;
    background: #FFFFFF;
    border:1px solid gray;
}

.olControlEditingToolbar2 div { 
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}

.olControlEditingToolbar .olControlDrawFeaturePointItemActive { 
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -128px -23px; 
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive { 
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -128px -0px; 
}

.olControlEditingToolbar2 .olControlDrawFeatureItemActive { 
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -26px -23px; 
}
.olControlEditingToolbar2 .olControlDrawFeatureItemInactive { 
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -26px -0px; 
}
.olControlEditingToolbar2 .olControlModifyFeatureItemActive { 
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -153px -23px; 
}
.olControlEditingToolbar2 .olControlModifyFeatureItemInactive { 
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -153px -0px; 
}

.olControlEditingToolbar .olControlNavigationItemActive { 
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -103px -23px; 
}
.olControlEditingToolbar .olControlNavigationItemInactive { 
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -103px -0px; 
}
.olControlEditingToolbar2 .olControlNavigationItemActive { 
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -103px -23px; 
}
.olControlEditingToolbar2 .olControlNavigationItemInactive { 
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -103px -0px; 
}

.olControlEditingToolbar .olControlDragFeatureItemInactive {
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -1px 0px;
}
.olControlEditingToolbar .olControlDragFeatureItemActive {
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -1px -23px;

}
.olControlEditingToolbar2 .olControlDeleteFeatureItemInactive {
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -178px 0px;
}
.olControlEditingToolbar2 .olControlDeleteFeatureItemActive {
  background-image: url("editing_tool_bar_with_pin2.gif");
  background-repeat: no-repeat;
  background-position: -178px -23px;

}
