Ground Control Points saved. Map should have warped! :-) <br />
<h4>
<%= link_to "Show Warped Image", :controller => "maps", :action => "warped", :id => @map%>
</h4>
<hr />
<div>

Output from script. You may see any errors here <br /><br />

<%= @output %>

</div>

<hr />



