<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"
   addthis:title="<%=snippet(title, 20)%>"
     addthis:description="<%=snippet(description, 30)%>" >
     <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=<%=ADDTHIS_USER%>"
       class="addthis_button_compact" >Share</a>
     <span class="addthis_separator">|</span>
     <a class="addthis_button_facebook"></a>
     <a class="addthis_button_myspace"></a>
     <a class="addthis_button_google"></a>
     <a class="addthis_button_twitter"></a>
   </div>
   <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=<%=ADDTHIS_USER%>"></script>
   <!-- AddThis Button END -->
