<div class="container-fluid-prov">
<div class="black-bar">
<div class="black-holder">
  <div class="footer-block1">
  </div>
  <div class="footer-block2">
    <div class="big-col">
      <ul class="additional-link list-inline pull-left">
        <li>
          <a href="https://prov.vic.gov.au/about-us" data-drupal-link-system-path="node/166">About Us
          </a>
        </li>
        <li>
          <a href="https://prov.vic.gov.au/contact-us" data-drupal-link-system-path="node/468">Contact Us
          </a>
        </li>
        <li>
          <a href="https://access.prov.vic.gov.au" target="">Search the Collection
          </a>
        </li>
      </ul>

    </div>
    <div class="small-col">
      <nav role="navigation" aria-labelledby="block-footerquestionsmenu-menu" id="block-footerquestionsmenu">
        <h2 class="visually-hidden" id="block-footerquestionsmenu-menu">Footer questions menu
        </h2>
        <ul class="questions list-unstyled">
          <li>
            <a href="https://prov.vic.gov.au/recordkeeping-government" title="links to government agency FAQ page." data-drupal-link-system-path="node/446">Are you a Government Recordkeeper?
            </a>
          </li>
          <li>
            <a href="https://prov.vic.gov.au/explore-collection" title="link to researcher FAQ page." data-drupal-link-system-path="node/261">Are you a researcher?
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="footer-multi-links">
    <nav id="block-footerrecordkeeping" class="col">
      <div class="title same-height-left" style="height: 34px;">Recordkeeping for Government
      </div>
      <ul class="footer-links list-unstyled">
        <li>
          <a href="https://beta.prov.vic.gov.au/recordkeeping-government/a-z-topics" target="" title="Recordkeeping for government topics.">A - Z Topics
          </a>
        </li>
        <li>
          <a href="https://beta.prov.vic.gov.au/recordkeeping-government" target="" title="links to specific informnation for government users.">Recordkeeping for Government
          </a>
        </li>
      </ul>
    </nav>
    <nav id="block-footercommunity" class="col">
      <div class="title" style="height: 34px;">In The Community
      </div>
      <ul class="footer-links list-unstyled">
        <li>
          <a href="https://prov.vic.gov.au/community/grants-and-awards" target="" data-drupal-link-system-path="node/435">Grants and Awards
          </a>
        </li>
        <li>
          <a href="https://beta.prov.vic.gov.au/koorie-services" target="">Koorie Services
          </a>
        </li>
        <li>
          <a href="https://prov.vic.gov.au/community/managing-your-collection" target="" data-drupal-link-system-path="node/416">Managing your Collection
          </a>
        </li>
      </ul>
    </nav>
    <nav id="block-footerwhatson" class="col">
      <div class="title same-height-right" style="height: 34px;">What’s On
      </div>
      <ul class="footer-links list-unstyled">
        <li>
          <a href="https://prov.vic.gov.au/whats/tours-talks-and-training" data-drupal-link-system-path="node/463">Tours, Talks &amp; Training
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer-info">
    <div id="block-footerinfo">
      <div>
        <p>Public Record Ofﬁce Victoria is located at:
        </p>
        <address>Victorian Archives Centre, 99 Shiel St, North Melbourne.
        </address>
        <address>
          <address>Opening Hours
          </address>
          <address>Monday to Friday: 10:00 am to 4:30 pm
            <br>
            (excl. public holidays)
            <br>
            The second and last Saturday of every month.
          </address>
        </address>
        <p>&nbsp;
        </p>
      </div>
    </div>
  </div>
</div>
</div>
<footer>
  <div class="footer-holder">
    <span class="copyright">Copyright © 2019 PROV
    </span>
    <ul class="additional-link2 list-unstyled">
      <li>
        <a href="https://prov.vic.gov.au/node/2517" target="" data-drupal-link-system-path="node/2517">Accessibility
        </a>
      </li>
      <li>
        <a href="https://prov.vic.gov.au/copyright-statement" target="" data-drupal-link-system-path="node/1456">Copyright
        </a>
      </li>
      <li>
        <a href="https://prov.vic.gov.au/disclaimer" data-drupal-link-system-path="node/1457">Disclaimer
        </a>
      </li>
      <li>
        <a href="https://prov.vic.gov.au/recordkeeping-government/a-z-topics/legislation" data-drupal-link-system-path="node/910">Legislation
        </a>
      </li>
      <li>
        <a href="https://prov.vic.gov.au/privacy" target="" data-drupal-link-system-path="node/1458">Privacy
        </a>
      </li>
      <li>
        <a href="https://www.vic.gov.au">State Government of Victoria
        </a>
      </li>
    </ul>
  </div>
  <ul class="logo-holder list-unstyled pull-right">
    <li>
      <a href="https://prov.vic.gov.au/">
        <img src="https://prov.vic.gov.au/themes/publicrecord/images/logo.svg" alt="Public Record Office Victoria" width="186" height="31">
      </a>
    </li>
    <li>
      <a href="https://www.vic.gov.au">
        <img src="https://prov.vic.gov.au/themes/publicrecord/images/logo2.svg" alt="Victoria State Government" width="84" height="48">
      </a>
    </li>
  </ul>
</footer>
</div>