<div id="nav">
  <a href="/">Home</a> |
  <%= link_to "Add Map", new_map_path %> |
  <a href="/about.htm">About</a> |
  <a href="/help.htm">Help</a> |
  <%= image_tag('nypl_lion_small.png') %>
  <a href="http://maps.nypl.org">Supported by the New York Public Library</a>
</div>


