<div id="nav">
  <a href="/"><%= t('.home') %></a> |
  <a href="http://worldmap.harvard.edu/static/docs/WorldMap_Help.pdf"><%= t('.help') %></a> |
  <a href="mailto:worldmap@harvard.edu">Contact Us</a> |
  <%= link_to t('.terms'), terms_path %> 
  <%# t('.supported_by_html') %>
</div>

