<% form_tag url_for(:controller => "maps"), :id=>"searchform",:name=> "searchform", :method => :get do -%>
  Search  
 <select id="field" name="field">
    <%= options_for_select([ ["Title", "title"], 
                           ["Description", "description"], 
                           ["Publisher", "publisher"],
                           ["Author", "authors"],
                            ["Tags", "tags"]], @field)-%>
    </select>
  for 
  <%= text_field_tag 'query', @query -%>
  <input type="submit" value=" Go ">
  <% if @show_warped == "1" -%>
    <% check_all = false -%>
    <% check_rectified = true -%>
  <% else -%>
    <% check_all = true -%>
    <% check_rectified = false -%>
  <% end %>

  <label for="all_maps">All maps</label>
  <%= radio_button_tag('show_warped', 0, check_all, :id => 'all_maps') %>
  <label for="rectified_maps">Rectified maps only</label>
  <%= radio_button_tag('show_warped', 1, check_rectified, :id => 'rectified_maps') %>

<% end -%>
