<h3>About</h3>

<p>
  The tool is for digitally aligning (geo-rectifying) scanned historical maps to match today’s precise maps.  Visitors can browse maps others have geo-rectified or upload their own to rectify.
  <br /> 
  Any map which has been rectified here can be brought into WorldMap by following the instructions under Section 3.9.1 in <a href="http://worldmap.harvard.edu/static/docs/WorldMap_Help_en.pdf">WorldMap Help</a>. <br />   <br /> 
</p>

<p> 
  Funded primarily by the New York Public Library Map Division with additional funding from The Center for Geographic Analysis, Harvard, this application was developed by Schuyler Erle, Shekhar Krishnan, and Tim Waters of Topomancy and Entropy Free.  <br />  <br /> 
</p>


<p>
  This code for this application is MIT licensed and the code can be found at http://github.com/timwaters/mapwarper. 
</p>

