<h3>About</h3>

<p>
  This application is  an image and map georeferencing or "geo-rectification" service to warp or stretch historic maps to fit on present day  real world map coordinates
</p>

<p>Libraries and other institutions have used it, including the <a href="https://maps.nypl.org/">New York Public Library</a>, Harvard, Stanford Universities, Leiden Archives (in The Netherlands), The Department of Education and the National Environment Protection Authority (US Federal Government), and Wikimedia Commons. As far as we know Public Record Office Victoria is the only archive in Australia and possibly the southern hemisphere to use MapWarper and offer researchers the ability to view thousands of Victorian  historic maps and plans to better understand how urban and rural landscapes have changed or not changed over time.  </p>


<h4>Who Created Map Warper?</h4>
<p>
  Tim Waters <br />
  tim@geothings.net <br />
  blog: <a href="https://thinkwhere.wordpress.com">https://thinkwhere.wordpress.com</a> <br />
  Twitter: @tim_waters
</p>

<h4>Special Thanks</h4>
<p>
Many people at PROV including staff, Kate Follington, Tara Oldfield, Daniel Wilksch, Kazuki Tada, Asa Letourneau as well as a passionate Volunteer team, David Asquith, Elizabeth Buckle, Alison Dredge, Kim House, Neil Paddle, Fiona O'Donnell, Anna Wells, Isha Kuhns, Anne Jones and Claudia Guli  have made the PROV service possible. 
</p>
