<h3>Quant a</h3>

<p>
  Aquesta aplicació ofereix un servei de georeferenciació d'imatges i mapes o servei de "georectificació" per deformar-los o estirar-los i així adaptar-los a les coordenades del mapa del món real. Està escrit en Ruby and Rails i s'ha personalitzat amb el projecte OpenStreetMap en ment, i tot ell és <a href="https://github.com/timwaters/mapwarper">codi obert</a>
</p>

<p> Biblioteques i altres institucions l'han utilitzat, inclosa la <a href="http://maps.nypl.org/"> Biblioteca pública de Nova York </a>, Harvard, Stanford Universities, Leiden Archives (als Països Baixos ), El DOE/NEPA (govern federal dels EUA) i Wikimedia Commons. </p>

<h4>Qui ho va fer, i com puc posar-m'hi en contacte?</h4>
<p>
  Tim Waters <br />
  tim@geothings.net <br />
  bloc: <a href="http://thinkwhere.wordpress.com"> http://thinkwhere.wordpress.com </a> <br />
  Twitter: @tim_waters
</p>

<h4>Com puc ajudar?</h4>

<p>
  Par de la feina ha estat recolzada per treballs personalitzats d'EntropyFree, Topomancy LLC i la Biblioteca Pública de Nova York i la Fundació Wikimedia. <br />
  No dubteu a enviar un missatge de correu electrònic per parlar de contractar Tim per desplegar i personalitzar MapWarper als vostres propis sistemes. <br /> <br />
</p>