<h3>About</h3>

<p>
  This application an image and map georeferencing or "georectification" service to warp or stretch them to fit on real world map coordinates. It is written in Ruby and Rails and was customised it with the OpenStreetMap project in mind, and is <a href="https://github.com/timwaters/mapwarper">all open source</a>
</p>

<p>Libraries and other institutions have used it, including the <a href="http://maps.nypl.org/">New York Public Library</a>, Harvard, Stanford Universities, Leiden Archives (in The Netherlands), The DOE/NEPA (US Federal Government) and Wikimedia Commons.</p>

<h4>Who Did It, And How Can I Contact Them?</h4>
<p>
  Tim Waters <br />
  tim@geothings.net <br />
  blog: <a href="http://thinkwhere.wordpress.com">http://thinkwhere.wordpress.com</a> <br />
  Twitter: @tim_waters
</p>

<h4>How Can I Help?</h4>

<p> 
  Some work has been supported by custom work by EntropyFree, Topomancy LLC and the New York Public Library and the Wikimedia Foundation. <br />
  Feel free to email to discuss hiring Tim to deploy and customise MapWarper for your own systems. <br />   <br /> 
</p>

<h4>Support Mapwarper.net</h4>
<p>This application and server is currently hosted, developed and maintained by Tim Waters out of his own pocket. <br />
  If you wish to support the hosting and development of this project, you can <a href="https://www.paypal.me/timdevelops">donate to Tim</a> via PayPal here: <a href="https://www.paypal.me/timdevelops">paypal.me/timdevelops</a>
  
</p>
