<h3>About</h3>

<p>
    Inspired by Metacarta's Map Rectifier, this is an open source map warping / geo rectifying service,
    written in Ruby and Rails. I've customised it with the OpenStreetMap project in mind.
    It's MIT licenced, so you can play with it if you want too!.
</p>



<h4>Who done it? </h4>
<p>
    Tim Waters <br />
    tim@geothings.net <br />
    blog: <a href="http://thinkwhere.wordpress.com">http://thinkwhere.wordpress.com</a>
</p>
