<div class="by_category">

<h3>Find Historic Maps By Category</h3>

<p>
Searching for historic plans within VPRS 8168 Historic Plan Collection (Contents in custody: 1802 - 1984) is much easier if you know what the category acronyms refer to. For example to find maps depicting Boundary Lines you would need to text search in mapwarper using the acronym "BL".  Please see the category acronyms below to help you in your search.
</p>

<h4>AA - AGRICULTURAL AREA (1865)</h4>
<p>
  Agricultural areas were special areas surveyed for agricultural settlement during the 1860's. They often crossed parish boundaries and were named after contemporary officials and personalities, prominent physical features or their respective parishes. <br />
  These plans were compiled from information already recorded on departmental plans and were published for distribution among intending settlers so available surveyed lands could be inspected. The plans often show evidence of squatting occupation, including tracks, fences and huts, as well as general descriptions of the landscape.
</p>

<h4>BL - BOUNDARY LINE (1870 - 1874)</h4>
<p>Plans of survey of the Victoria - NSW border from the head of the Indi River to Cape Howe.</p>

<h4>CEM - CEMETERY (1841 - 1861)</h4>
<p>Plans of cemetery, church, school and hospital reserves showing boundaries, stating denominations and often showing the denominational divisions of general cemeteries.</p>

<h4>CONT - CONTRACT (1861)</h4>
<p>Lithographs of areas surveyed by private surveyors under contract to the Department of Crown Lands and Survey in 1861.</p>

<h4>COUNTY - COUNTY (1857 - 1860)</h4>
<p>Published county plans showing boundaries, major physical features, and the general progress of land settlements. The collection is not complete; other early county plans may be found in other sub-collections.</p>

<h4>CS - COASTAL SURVEYS (1802 - 1923)</h4>
<p>This sub-collection comprises precise surveys of the Victorian coastline conducted between 1840 - 1870. These surveys were intended to define the configuration of the coastline, describe the structure of coastal vegetation and identify any land occupations. They were an integral part of the early topographic survey of Victoria. Many were compiled by the surveyor George D. Smythe. Published shipping charts of the 1860's and 1870's form a small proportion of the collection; the few plans which pre-date 1840 are copies of important surveys completed before the Melbourne Survey Office was established (1837).</p>

<h4>DIST - DISTRICT (1851 - 1882)</h4>
<p>
  These are working plans compiled and used in regional survey offices in central Victoria, mostly during the 1850's. <br />
  They show Crown allotments surveyed for sale, basic physical features, tracks, and occasionally aboriginal sites. Specific land occupations such as tents and buildings are plotted where land use did not conform with surveyed property boundaries.
</p>

<h4>ELEC - ELECTORAL PLANS (1855 - 1859)</h4>
<p>Published maps of electoral divisions in the Colony of Victoria. The plans are normally of small scale and have a minimum of incidental information.</p>

<h4>ET - ELECTRIC TELEGRAPH (1850 - 1911)</h4>
<p>Surveys of the paths of electric telegraph lines throughout Victoria. Most plans are large scale and carry little incidental information. Some give descriptions of soils and vegetation; a few plot buildings.</p>

<h4>EXP - EXPLORERS ROUTES (1858-1888)</h4>
<p>Tracings and published maps of routes of exploration in Victoria and Australia generally. The maps of exploration in other colonies appear to have been collated for the production of a special map of Australia. (See EXP 23 and EXP 45).</p>

<h4>FEAT - FEATURE PLANS (1838 - 1948)</h4>
<p>A miscellaneous grouping of tracings of cadastral plans and topographical surveys of areas prior to, or in anticipation of, agricultural settlement.</p>

<h4>GB - GRAZING BLOCKS (1883 - 1939)</h4>
<p>Plans showing the boundaries of large areas licensed for grazing. These boundaries were not surveyed; they were simply drawn on paper to conform, where possible, with physical features. Demarcation was a matter for agreement amongst adjoining licensees. Most of the plans were published.</p>

<h4>G. GEN - GEODETIC (GENERAL) (1840 - c.1880)</h4>
<p>A collection of maps covering the whole (or greater part) of Victoria and dealing specifically with the "Old geodetic survey of the mid 19th century. Includes plans of an exploratory survey by C. Tyers in 1840 and more general maps showing the progress of trigonometric surveys. The latter directly relates to the triangulation plans (TN).</p>

<h4>GEO DV - GEODETIC DIVISIONS (1882 - 1905)</h4>
<p>A collection of cadastral plans compiled from the county series (12 miles 19.312 Km 63,360 Feet 21,120 Yards 19,312.128 Meters 760,320 inch to 1 inch) in rectangles 30 minutes of latitude by 1 degree of longitude, using the Old Melbourne Observatory as datum. This series very neatly depicted the cadastre of the time, on uniform sized plans.</p>

<h4>GEO - SQ GEODETIC SQUARES (1860 - 1881)</h4>
<p>
  Plans showing the survey of meridians and parallels in the north and north west plains of the Murray Valley basin. <br />
  The lines were run on intervals of 6 minutes of latitude and longitude and in most cases became the boundaries of parishes.<br />
  The latitude and longitude differ from the modern values as the datum was the Melbourne Observatory, before the introduction of telegraph or radio.
</p>

<h4>GIPPS - RIVER SURVEYS (1837-1899) (also GLENELG, GOULBURN, LODDON, MURRAY, WIMMERA)</h4>
<p>
  The surveying of major rivers in Victoria was commenced soon after the establishment of the Melbourne Survey Office to provide basic information about the physical geography of the new colony. <br />
  Information produced by these surveys was very detailed and the resultant plans are extremely useful in tracing the movements of river channels since European settlement. <br />
  Early pastoral settlements are sometimes plotted on these plans.
</p>

<h4>GLENELG - GLENELG RIVERS (1839-1866)</h4>
<p>See GIPPS.</p>

<h4>GOULB - GOULBURN RIVERS (1842-1872)</h4>
<p>See GIPPS.</p>

<h4>LC - LAND CLASSIFICATION (1885-1960)</h4>
<p>
  The concept of land classification was introduced into the Land Act in 1884. Remaining Crown Lands were identified for leasing or sale and for reservation for public uses - e.g. water reserves and timber reserves. Land to be offered for private use was graded according to its productive capability, and conditions of tenure (including rental) and maximum allotment size were tailored accordingly. <br />
  The first determinations were published in the mind 1880's, and later these were modified as further information became available and as interpretations of land capability changed.
  Mapping was based on county plans (1 inch: 2 miles 3.219 Km 10,560 Feet 3,520 Yards 3,218.688 Meters 126,720 inch); those plans which are dated prior to 1884 are in fact the original working manuscripts, colour-coded on base plans which were published some years earlier. <br />
  Land classification was perpetuated in all Land Acts following 1884 and plans were maintained as an administrative aid until the 1960's. <br />
  Re-classifications of particular areas are reflected by the various groupings within this sub-collection. Plans numbered 1 to 37 represent the original classifications of the 1880's, approved by the Governor-in-council and published. Nos. 38-77 feature revisions published in the mid 1890's. Nos. 78-115 are manuscripts upon which the original plans were based; Nos. 118-138, 139-164 and 165-243 are working collections maintained by various branches of the Department of Crown Lands and Survey. The last mentioned grouping was maintained by the Occupation Branch which administered leases, licences and sales.
</p>

<h4>LODDON - LODDON RIVERS (1839 - 1874)</h4>
<p>See GIPPS.</p>

<h4>
  MCS - MISCELLANEOUS COASTAL SURVEYS (1802 - 1908)
</h4>
<p>
  An adjunct to one coastal survey sub-collection, but containing more diverse material. <br />
  It includes tracings of coastal survey plans, published shipping charts of Victorian, Australian and overseas ports and drawings of harbour developments.<br />
  Really a miscellany of plans referring to the coastline, anywhere. Generally does not include original manuscripts.
</p>

<h4>MD - MINES DEPARTMENT (1856 - 1937)</h4>
<p>Coloured geological maps published by the Mines Department. Includes "quarter sheets" and parish sheets but collections are incomplete. A fuller collection is held at the Department of Energy and Minerals.</p>

<h4>MELB. RL - MELBOURNE ROLL (1851 - 1910)</h4>
<p>This series comprises plans of the Melbourne area which were originally stored rolled up, rather than being laid flat in conventional horizontal plan presses. Some of the items are exceptionally large and have been micro-filmed in many sections. <br />
Subject matter is varied, including landscape designs for city parks, maps showing streets and buildings which were drawn in preparation for the laying of sewerage and the installation of reticulated water supply and plans of dock and pier installations. Many of these plans are coloured but coding is not specified.</p>

<h4>MS - MISCELLANEOUS (1860 - 1937) (M/A, D, BO, BU, C, DEF, F, I, L, M, T, U, W, X)</h4>
<p>
  This grouping contains a number of distinct types of plan, some of which were originally part of the record plan series.<br />
  Feature Surveys (F and other letters) - plans showing topographical features of areas not previously surveyed for settlement.<br />
  Forests Reserves (W, A) - cadastral plans drawn before the establishment of the Forests Department in 1880, showing the location of forest reserves.<br />
  Traverse Surveys (1) - surveys conducted in various parishes before a full parish plan had been compiled. These plans were originally used as the record plan, but after fuller parish compilations were made they were put into a separate collection.<br />
  Tourist Plans (T298) - maps produced in the early 1900's to promote tourism in Victoria.<br />
  Defence Plans (DEF) - cadastral plans with levels plotted, and contour maps; produced for defence purposes during the early 20th century when a fear of invasion of Port Philip by the Russians was wide-spread. The numbering of this grouping begins at 52 (due to an administrative error).<br />
  Contour Plans (C and others) - plans of various areas showing contours.<br />
  Border with SA (BO) - copies of published plans showing the disputed territory along the Victorian - South Australian border.
</p>

<h4>MURRAY - MURRAY RIVER (1837 - 1881)</h4>
See GIPPS.

<h4>NR - NEW ROADS (1850 - 1928)</h4>
<p>
  Surveys of particular road alignments conducted before the abutting lands were selected.<br />
  The plans sometimes show adjoining buildings and general description of soils and vegetation. Most plans in this section were drawn between 1855 and 1880.<br />
  New Roads differ from Old Roads in that they were drawn for the sole purpose of displaying the routes and boundaries of specially surveyed roads.<br />
  The listing of all parishes relevant to each plan in this sub-collection is unfortunately far from comprehensive and parishes cannot necessarily be deduced from the plan title/description. For example, NR 185 (Timboon to Darlington Road) shows the Timboon road between Darlington and Colongulac (the section between Colongulac and Timboon is not shown). The plan spans five parishes but only one (Kilnoorat) is listed. Users should be wary of such problems.
</p>

<h4>NSW INTERSTATE (1857 - 1952) (see also QLD, SA, TAS)</h4>
<p>Published maps of other colonies, procured for general information. These maps display differences in the cadastral systems adopted in the respective colonies/states.</p>

<h4>OPR - OLD PROCLAIMED ROADS (1839 - 1863)</h4>
<p>
  In the early years of settlement land was often sold without all necessary road access being identified. Allowance was made in titles for the resumption of strips of land which were later required for roads. As part of this arrangement proposed roads had to be advertised and members of the public had the opportunity to object if proposals threatened their property (see Old Roads). However, once routes were finalized they were purchased by the government and proclaimed as roads.<br />
  Proclamation was necessary to establish the power of the Roads Boards to conduct road works. The Old Proclaimed Road collection includes plans of specific small lengths of road which were re-acquired. It also includes plans of large areas depicting roads which were to be managed by the Main Roads Board.
</p>

<h4>OR - OLD ROADS (1840 - 1863)</h4>
<p>
  Refer to Old Proclaimed Roads.<br />
  Plans in the Old Road sub-collection show proposed roads as surveyed and presented for public comment. Some plans show proposed alignments through large areas and describe the surrounding topography, including relief, soils and vegetation, adjacent sold land, major occupations of Crown Lands and also public reserves.<br />
  Other plans refer to particular groupings of sold allotments through which the proposed roads passed. These were presented to the Executive Council and following approval the lands were resumed as Crown Land and proclaimed as roads.
</p>

<h4>POL RES - POLICE RESERVES (1851 - 1861)</h4>
<p>Lands reserved for police purposes, including police station, horse paddocks and gaols. Plans generally only show the boundaries of these reserves.</p>

<h4>PR - PRE-EMPTIVE RIGHTS (1852 - 1873)</h4>
<p>
  Pre-emptive rights were the homestead blocks purchased by squatters under regulations gazetted in 1848. Holders of pastoral runs were able to purchase up to 640 acres of their run before any land in their locality was made available to the general public. This privilege was given in recognition of their pioneering efforts; it could only be exercised once for any particular run. Occasionally, where pastoral stations covered gold bearing country which the Government was not prepared to alienate, the pre-emptive right could be exercised elsewhere, on another run held by the applicant.<br />
  Pre-emptive right plans show the boundaries of PR allotments and often also the location of buildings, fences, tracks, and descriptions of vegetation and soils.
</p>

<h4>PROC - PROCLAIMED ROADS (1876 - 1890)</h4>
<p>Under the Local Government Act passed in 1869 municipal councils had power to manage all lands which were defined as roads by formal proclamation. From 1876 proclamations were published in the Government Gazette and these referred to special plans on which the proclaimed roads were shaded. Proclamation proceeded systematically, with plans being produced for whole parishes. This procedure was operative until the early 1890's by which time approximately 1200 parishes had been gazetted. Thereafter proclamation was considered unnecessary if road abuttals were shown on Crown grant title deeds. If abuttals were found not to exist along any particular surveyed road, an ad hoc proclamation would be gazetted. The method of systematically defining roads, parish by parish, was undoubtedly time consuming. But it did produce a concise geographical picture and the proclaimed road plans remain important legal documents. To determine the extent of proclaimed roads in parishes which were not gazetted, it is necessary to investigate the title for each Crown allotment and search all Government Gazettes for any ad hoc proclamations post-dating the early 1890's.</p>

<h4>PROC (2)-  PROCLAMATIONS (OTHER) (1875 - 1915)</h4>
<p>A grouping of plans which largely concerns road proclamations other than those of 1876-1890. Number 1 is a detailed plan of all proclaimed roads in the City of Bendigo. Nos. 2-11A represent an unsuccessful attempt to proclaim roads using small scale county plans. Nos. 14-47 show proclaimed roads, reserves and townships within some closer settlement estates.</p>

<h4>QLD - QUEENSLAND (1862 - 1951)</h4>
<p>See NSW.</p>

<h4>RAIL - RAILWAY LINES (1852 - 1913)</h4>
<p>
  Plans showing the boundaries of reserves surveyed for the establishment of railways (and tramways) in Victoria. The plans are at various scales, some showing the array of lines throughout Victoria and many others showing routes through individual parishes.<br />
  The plans feature a dearth of "incidental" information.
</p>

<h4>ROLL - ROLL PLANS (1837 - 1895)</h4>
<p>
  This collection includes some original topographical surveys (which were not specifically river or coastal surveys), some plans showing the progress of early cadastral surveys and a miscellany of other items which are large in size and were traditionally stored rolled up.<br />
  The plans often show early Crown reserves and may reveal some of the planning which accompanied the survey of Crown Land before settlement.
</p>

<h4>RS - ROADS (SUNDRY) (1847 - 1874)</h4>
<p>A collection of "odds and ends" which refer to road reserves or land constructions but do not fall within other categories. A number of these plans are longitudinal sections; some include drawings of culverts and bridges.</p>

<h4>RUN - PASTORAL RUNS (1847 - 1882)</h4>
<p>
  These plans portray the large areas of Crown Land licensed by squatters for grazing.<br />
  All plans show the boundaries of the runs and those plans which refer to only one or a few runs may also give descriptions of vegetation and relief and plot tracks, fences, and huts.
  The sub-collection comprises three parts. Nos. 1-400 are a mixture of manuscripts drawn at small and large scales and may depict individual runs, or the array of runs occurring over whole regions. Nos. 401-1381 deal with individual runs and may be rough sketches or more carefully compiled manuscripts. These were originally held within pastoral run files, but in the course of microfilming these files (prior to their transfer to the Public Record Office, Laverton) the plans were extracted, repaired and formally added to the sub-collection. Nos. 1382 onwards are printed maps showing the distribution of runs over large areas.<br />
  Users are likely to encounter a number of anomalies when accessing run plans. The inventory of these plans, and particularly the identification of relevant parishes, was a difficult task because:<br />
  &nbsp;&nbsp;&nbsp;&nbsp;(a) at the time runs were established and mapped local parishes had not normally been created.<br />
  &nbsp;&nbsp;&nbsp;&nbsp;(b) plotting of runs was often not accurate;<br />
  &nbsp;&nbsp;&nbsp;&nbsp;(c) plans of individual runs often lacked physical descriptions which facilitated the location of areas of current cadastral plans;<br />
  &nbsp;&nbsp;&nbsp;&nbsp;(d) in the process of extracting plans from the files, repairing and registering them, some items were inevitably mis-numbered;<br />
  &nbsp;&nbsp;&nbsp;&nbsp;(e) plans extracted from files were registered with the name of the run to which the file referred. In this way a number of plans concerning other runs mentioned in correspondence of a file may have been mis-named;<br />
  &nbsp;&nbsp;&nbsp;&nbsp;(f) when identifying the parishes relevant to particular plans only the central or predominant parish was recorded.<br />
  Users should bear these problems in mind and make allowances accordingly.
</p>

<h4>SA - SOUTH AUSTRALIA (1855 - 1905)</h4>
<p>See NSW.</p>

<h4>SALE - SALE (1850 - 1861)</h4>
<p>Plans of areas surveyed and released for sale. They were published and are similar to Agricultural Areas plans; they were prepared for similar purposes.</p>

<h4>SP STANDARD PARALLELS</h4>
<p>See GEO SQ.</p>

<h4>SS - SPECIAL SURVEYS (1841 - 1850)</h4>
<p>
  In 1840 a new but short-lived land regulation was introduced enabling land in Port Phillip to be sold at one pound per acre, in blocks of up to eight square miles (or 5120 acres). This regulation was formulated in Britain and was based on the belief that a uniform land price would:<br />
  &nbsp;&nbsp;&nbsp;&nbsp;(a) encourage the purchase of land by British emigrants by providing certainty regarding the number of acres they could acquire;<br />
  &nbsp;&nbsp;&nbsp;&nbsp;(b) encourage settlement of the best lands (which would be chosen first) and hence improve agricultural production.<br />
  Under the regulation an emigrant purchased an order for a special survey which he delivered to the responsible authorities upon arrival in the colony. Eight such surveys were carried out.<br />
  The initiative generated considerable disquiet amongst colonial administrators because:<br />
  &nbsp;&nbsp;&nbsp;&nbsp;(a) it side-stepped the proven system of sale by auction;<br />
  &nbsp;&nbsp;&nbsp;&nbsp;(b) it disposed of land at far below the market price and hence threatened colonial revenue.<br />
  In February 1841 the regulation was revoked.
</p>

<h4>SYDNEY - SYDNEY PLANS (1837 - 1851)</h4>
<p>
  Manuscripts of lands surveyed for settlement prior to Victoria's separation from NSW in 1851. The plans were forwarded to the Surveyor-General's Department in Sydney as official records but were returned to Melbourne some years after Victoria became an independent colony.<br />
  
  The plans are normally coloured and, apart from Crown allotments, often show early tracks and buildings and have general descriptions of soils and vegetation.
</p>

<h4>TAS - TASMANIA (1862 - 1963)</h4>
<p>See NSW.</p>

<h4>TN - TRIANGULATION (1840 - 1881)</h4>
<p>Plans of triangulations of the "Old geodetic survey of the mid 19th century". Refer to Geodetic (General).</p>

<h4>VIC. GEN - VICTORIA (GENERAL) (1860 - 1958)</h4>
<p>A collection of small scale maps dealing with the whole (or greater part) of Victoria and covering a miscellany of subjects.</p>

<h4>WIMMERA - WIMMERA RIVERS (1841 - 1899)</h4>
<p>See GIPPS.</p>

<h4>WS - WATER SUPPLY (1858 - 1914)</h4>
<p>Plans of rural water supply works, including reservoirs, channels and sometimes associated buildings.</p>

</div>