<h3>Help</h3>
<div class="help">
<h4>How to Rectify a Map Step by Step Tutorial</h4>

<p>Download and print out this <a href="/MapWarper_how_to_rectify_step_by_step_0120190404.pdf">handy step by step guide on how to rectify or place maps</a> (pdf).</p>

<h4>I'm having a problem</h4>
<p>See the GitHub for Issues, open and closed: <a href="https://github.com/timwaters/prov-warper">https://github.com/timwaters/prov-warper</a></p>
<br />
Common Problems:
<ul>
  <li>My PDF won't work: Mapwarper accepts images. PDFs are containers of stuff, they can contain text. Try to extract the image from the PDF and upload that</li>
  <li>My greyscale image won't work: Try to convert to RGB/Truecolor first and then upload. Often it seems as if images with just one or two bands cause issues</li>
  <li>The image from the URL doesn't work: Try downloading and uploading manually.</li>
  <li>How do I make a Mosaic from maps: Add the maps to your favourites first </li>
  <li>How do I make a delete a map?: Go to the Edit tab of your map and find the delete link </li>
</ul>


<h4>Can I get the code and help?</h4>
<p>Yes. you can get the code here: <a href="https://github.com/timwaters/prov-warper">https://github.com/timwaters/prov-warper</a it's currently MIT licenced<br />
  . You can contact PROV  <a href="https://prov.vic.gov.au/contact-us">https://prov.vic.gov.au/contact-us</a></p>

<h4>Is there an API?</h4>
<p>Yes. See <a href="/api/v1/">/api/v1/</a></p>

<h4>What are the terms for uploading maps?</h4>
<p>Please see the terms of use linked to from the fron page
 
</p>

<h4>Is there a privacy policy?</h4>
<p>Please see the terms of use linked to from the front page </p>

<h4>How Can I Support This Software?</h4>
<p>
If you wish to support the hosting and development of the open source Map Warper software from which this service was developed, you can donate to it's author Tim Waters via PayPal here: <a href="https://www.paypal.me/timdevelops">paypal.me/timdevelops</a>
</p>

<h4>Contact us on Facebook</h4>
<p>
 If you have any additional questions that are not answered here contact us via our Facebook page <a href="https://www.facebook.com/PublicRecordOfficeVictoria">https://www.facebook.com/PublicRecordOfficeVictoria</a> and we will respond as soon as possible.
</p>
</div>

