<div class="home-help">
  <h3>Help</h3>

  <h4>Wat is Map Warper?</h4>
  <p>Map Warper is een tool voor het georefereren (op de juiste geografische locatie leggen) van historische kaarten. U bent van harte welkom om de kaarten te bekijken, te downloaden, maar ook om te helpen bij het georefereren. Het is ook mogelijk om zelf rechtenvrije kaarten te uploaden. Bekijk de video hieronder, of <a href="https://www.leidseregioinkaart.nl/handleiding_mapwarper.pdf" target="_blank">lees hier de uitgebreide handleiding</a> en leer hoe u mee kunt doen!</p><br />
  <iframe src="https://player.vimeo.com/video/99005017" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <p>

  <h4>Waarom werkt het niet?</h4>
  <p>Mochten er problemen zijn met MapWarper, dan horen we dat natuurlijk graag. Stuur een mailtje naar e.gehring@erfgoedleiden.nl en we kijken er zo snel mogelijk naar.
  </p>

  <h4>Wat zijn de voorwaarden voor het uploaden van kaarten?</h4>
  <p>Als u een afbeelding uploadt naar de website, gaat u er mee akkoord dat iedereen deze kan zien en gebruiken, inclusief (veranderende) controlepunten, etc. Zorg dus dat u toestemming heeft om afbeeldingen te uploaden, de rechten zijn verlopen, of u zelf rechthebbende bent. Mochten er speciale voorwaarden zijn, zet deze dan in het beschrijvingsveld. Als u vermoed dat er problemen zijn copyright, mail dan naar e.gehring@leiden.nl</p>

  <h4>Kan ik de code zien, en meehelpen?</h4>
  <p>Jazeker! De code staat <a href="https://github.com/leidenwarper/mapwarper" target="_blank">hier</a>.

</div>   





