<h3>Ajuda</h3>

<h4>Tinc un problema</h4>
<p> Consulta a GitHub els problemes, oberts i tancats: <a href="https://github.com/timwaters/mapwarper/issues"> https://github.com/timwaters/mapwarper/issues </a> </ p>
<br />
Problemes comuns:
<ul>
  <li>El meu PDF no funciona: Mapwarper accepta imatges. Els fitxers PDF són contenidors de coses, i poden contenir text. Intenta extreure la imatge del PDF i carregar-la</li>
  <li> La meva imatge en escala de grisos no funciona: intenta convertir-la primer a RGB/Truecolor i després carregar-la. Sovint les imatges amb només una o dues bandes causen problemes </li>
  <li> La imatge de l'URL no funciona: prova de descarregar-la i pujar-la manualment. </li>
  <li> Com puc fer un mosaic de mapes: afegeix els mapes als teus preferits primer </li>
</ ul>

<h4>Per què no puc utilitzar Google Maps?</h4>
<p>Aquesta aplicació està dissenyada per utilitzar-la amb el projecte Openstreetmap.
  Hi ha arguments legals i ètics per no utilitzar Google Maps en la rectificació
  i processament amb mapes protegits per drets d'autor. No obstant això, al meu entendre, pots utilitzar Google Satellite i
  per tant potser puguis afegir-ho més tard. </p>

<h4>Puc obtenir el codi i ajudar-vos? </h4>
<p> Sí. Pots obtenir el codi aquí: <a href="http://github.com/timwaters/mapwarper/"> http://github.com/timwaters/mapwarper/ </a>està actualment amb llicència MIT<br />
  . Pots contactar-me per correu, Tim Waters, a tim@geothings.net </p>

<h4>Hi ha una API?</h4>
<p> Sí. Mira <a href="http://mapwarper.net/api/v1/"> http:/mapwarper.net/api/v1/</a></p>

<h4> Quines són les condicions per penjar mapes? </h4>
<p> En penjar imatges al lloc web, acceptes que permets que qualsevol persona les pugui visualitzar i utilitzar,
  i que fins i tot canviï els punts de control. <br />
  Per això, et recomanem que tinguis permís per pujar-los.
  Carregar i fer que les imatges estiguin disponibles no atorga una llicència de drets d'autor a tercers.
  No es garanteix la privadesa ni la protecció de les imatges i les metadades carregades
  (veure la nota més avall sobre les dades personals). <br />
  Si sospites d'una infracció dels drets d'autor, envia un correu a tim@geothings.net.
  <br /> En general, assegura't que la imatge és lliure de distribuir o copiar, i afegeix una nota a la decripció del document
  si hi ha condicions especials. <br />
 
</p>

<h4>Teniu una política de privadesa? </h4>
<p> Odiem l'spam: les teves dades personals (utilitzades per iniciar sessió a la xarxa, etc.) es mantindran privades,
  i mai es compartiran amb cap tercer, i només s'utilitzaran en rares ocasions
  si necessitem contactar-te.
  <br /> Si vols que se suprimeixin els teus detalls, envia un correu a tim@geothings.net </p>

<h4> Com puc donar suport a Mapwarper.net? </h4>
<p>
  Si vols donar suport a l'allotjament i al desenvolupament d'aquest projecte, pots <a href="https://www.paypal.me/timdevelops">donar a Tim </ a> mitjançant PayPal aquí: <a href = "https://www.paypal.me/timdevelops ">paypal.me/timdevelops </a>
 
</p>