<h3>Privacy / Data / Terms</h3>
<p>
  The purpose of this statement is to explain to you what personal information we collect and how we may use it. We do not
  sell, rent or exchange your personal information with any third party.
</p>
<h4>
  Maps
</h4>
<p>
  When you upload maps to mapwarper.net you agree that you are lawfully entitled and have full authority to license mapwarper.net
  to use any maps uploaded. You can delete your own maps at any time.
</p>

<h4>Logins</h4>


<h5>If you have signed up with email and password</h5>
<p>
  The registered email address for your account will never be published anywhere, shared with third party organisations or
  revealed directly to other logged in users. Only administrators have direct access to email address data. Emails are primarily
  stored to aid you in signing in. Emails will only be sent to your email address upon the account sign up process, to aid
  in password recovery and in important and essential communication about your account.
</p>

<h5>Social Logins (Facebook, Github, OpenStreetMap)</h5>
<p>
  Logins and sign ups via Facebook only have their emails stored. This is to aid in the system identifying you correctly. The
  email address for your account will never be published anywhere, shared with third party organisations or revealed directly
  to other logged in users. No emails will be sent to this Logins and sign ups via OpenStreetMap and Github only have their
  profile name stored. This is to aid in the system identifying you correctly.
</p>


<h4>Account Removal</h4>
<p>
  Users can remove their account at any time, by clicking on the "Settings" link. Deleting your account will also delete your
  uploaded maps.
</p>

<h4>
  Cookies
</h4>
<p>
  Cookies are very small text files that are stored on your computer when you visit some websites.
  <br /> We use cookies to help keep a track of whether you are logged in and to aid site navigation state.
  <br /> You can disable any cookies already stored on your computer, but these may stop our website from functioning properly.
  <br /> Mapwarper.net will remember that you are logged in and that your session is secure. You need to be logged in to upload
  maps.
</p>

<h5>
  Targeting Cookies
</h5>
<p>
  Mapwarper.net will allow you to share pages via Add This. To view the Add This Privacy Policy or to opt out of any online
  behavioural advertising, please visit Add This and visit their Opt Out page: <a href="http://www.addthis.com/privacy/opt-out">http://www.addthis.com/privacy/opt-out</a>
</p>

<h4>Other uses of your data</h4>
<h5>IP Addresses</h5>
<p>
 The IP address of each request is stored in the application and web server logs for the purpose of maintentance, security and  abuse prevention. These logs are deleted after 60 days. Logs are not shared with any third party.
</p>
<h5>Map metadata</h5>
<p>When you upload a map with a title and description, mapwarper.net sends the title and description to the external Geocode.xyz service. This is to attempt to give a best guess place for your map. For example if you upload an image with the title "Paris, France" it may zoom the map to that location for you. No other data is shared.</p>

<h4>
License
</h4>
<p>
The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.
</p>

