<h3> Política de privadesa </h3>
<p>
  El propòsit d'aquesta declaració és explicar-te quina informació personal recopilem i com la podem utilitzar. Nosaltres no
  vendrem, llogarem o intercanviarem la teva informació personal amb tercers.
</p>
<h4>
  Mapes
</h4>
<p>
  Quan carreguis mapes a mapwarper.net, acceptes que tens dret i autorització legal per atorgar una llicència a mapwarper.net
  per utilitzar els mapes carregats. Pots eliminar els teus propis mapes en qualsevol moment.
</p>

<h4>Inicis de sessió</h4>

<h5> Si us t'has registrat amb el correu electrònic i la contrasenya </h5>
<p>
  L'adreça de correu electrònic registrada per al teu compte mai no es publicarà en cap lloc, no serà compartida amb organitzacions de tercers ni
  es revelarà directament a altres usuaris registrats. Només els administradors tenen accés directe a les dades d'adreça de correu electrònic. Els correus electrònics són principalment emmagatzemats per ajudar-te a iniciar la sessió. Els correus electrònics només s'enviaran a la teva adreça de correu electrònic després del procés de registre del compte per ajudar-te en la recuperació de la contrasenya, i en tota comunicació important i essencial sobre el teu compte.
</p>

<h5>Inicis de sessió social (Facebook, Github, OpenStreetMap) </h5>
<p>
  Els inicis de sessió i els registres a través de Facebook només tenen emmagatzemats els correus electrònics. Això és per ajudar al sistema a identificar-te correctament. L'adreça de correu electrònic del teu compte mai no es publicarà en cap lloc, no es compartirà amb organitzacions de tercers ni es revelarà directament a altres usuaris registrats. No s'enviaran correus electrònics a aquest credencials d'inici de sessió, i el registre i l'inici de sessió a través d'OpenStreetMap i Github només desen el nom del perfil. Això és per ajudar al sistema a identificar-te correctament.
</p>


<h4>Eliminació del compte</h4>
<p>
  Els usuaris poden eliminar el seu compte en qualsevol moment, fent clic a l'enllaç "Configuració". Si suprimeixes el teu compte, també se suprimirà tots els mapes carregats.
</p>

<h4>Galetes</h4>
<p>
  Les cookies són fitxers de text molt petits que s'emmagatzemen a l'ordinador quan visites alguns llocs web.
  <br/> Utilitzem cookies per ajudar-te a mantenir la sessió oberta i per desar l'estat de navegació del lloc.
  <br/> Pots inhabilitar les galetes ja emmagatzemades a l'ordinador, però això pot evitar que el lloc web funcioni correctament.
  <br/> Mapwarper.net recordarà que has iniciat la sessió i que la sessió és segura. Has d'estar connectat per pujar mapes.
</p>

<h5>
  Objectiu de les galetes
</h5>
<p>
  Mapwarper.net et permetrà compartir pàgines mitjançant Add This. Per veure la Política de privadesa d'aquest complement o per desactivar qualsevol   publicitat associada al comportament, visita Add This i vers a la seva pàgina de desactivació: <a href="http://www.addthis.com/privacy/opt-out"> http://www.addthis.com/privacy/opt-out</a>
</p>