<%= link_to "&lt; Back", :back -%>

<h2>Activity Detail</h2>
<table class="activity-table">
  <tr>
    <th>Time</th>
    <th>User</th>
    <th></th>
    <th>Activity Summary</th>
    <th>Version</th>

    <%= render :partial => 'audit', :object => @audit, :locals => {:page => 'detail'} %>
    <th></th>
  </tr>
</table>

<h3>Details</h3>
<table  class="activity-details">
  <tr>
    <th>Item&nbsp;</th>
    <th>Value</th>
  </tr>
  <% @audit.changes.each do |key, value| -%>
    <tr>
      <td><%= key-%> </td>
      <td><%= value -%> </td>
    </tr>
  <% end if @audit.changes -%>

</table>
