# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fcb0c09ad1f97fbc11d108de0e32512e929eee3ea797e3553ae4da3d20e47847e49715498dd9bf8d1aefa2e083621d1dbe90e60fb82ff531f26b710bd71c620c

test:
  secret_key_base: dd4335dc915fdcf56ef5580c670083c7bfc0ed14e2a58f0337c9a53ffa482d006357da7399cd51cceafa968ccea947e2251cb302b576b31876097e242ec0808c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
