# Settings specified here will take precedence over those in config/environment.rb
SITE_URL = "wrp.geothings.net"
SITE_NAME = "Map Warper"
SITE_EMAIL = "robot@geothings.net"
MAPSERVER_URL = "/cgi/mapserv.cgi"  #url to the mapserv executable

#paths to directories to put src files and warped destination files
#SRC_MAPS_DIR = "/var/lib/maps/src/"
#DEST_MAPS_DIR = "/var/lib/maps/maps/dest/"
#TILEINDEX_DIR = "/var/lib/maps/dest/tileindex/"


MAX_DIMENSION =  2000  #max dimension width or height for an upload. Otherwise it will get resized to fit this max size
MAX_ATTACHMENT_SIZE = 5.megabyte #max upload file size
#GDAL_MEMORY_LIMIT = 30 # max memory used for gdal_warp, may keep some servers sweet
GOOGLE_MAPS_KEY = "ABQIAAAAUs2kl_uF_gYL9qSq4yukexRmD5h56nNMfirlZcVV7McdGf5ntBQrG-VVUdKlrb9wMII4bKZUTnVh0A"


# The production environment is meant for finished, "live" apps.
# Code is not reloaded between requests
config.cache_classes = true

# Use a different logger for distributed setups
# config.logger = SyslogLogger.new

# Full error reports are disabled and caching is turned on
config.action_controller.consider_all_requests_local = false
config.action_controller.perform_caching             = true


# Enable serving of images, stylesheets, and javascripts from an asset server
# config.action_controller.asset_host                  = "http://assets.example.com"

# Disable delivery errors, bad email addresses will be ignored
# config.action_mailer.raise_delivery_errors = false

#GDAL_PATH  = ""
GOOGLE_ANALYTICS_CODE = "UA-12240034-1"
GOOGLE_ANALYTICS_COOKIE_PATH = "/warper/"
Yahoo_app_id = "foo"
ADDTHIS_USER = "timwaters"
ADDTHIS_TWITTER_USER = "mapwarper"
