<h3><%= t('.header') %> </h3>
<br />
<p>
<%=  button_to t('.no_button'), layer_path(@layer), :method=>:get %>
<br /><br /><br />
<%=  button_to t('.yes_button'), layer_path(@layer),:method=>:delete, :href => '#' %>

</p>
