<% content_for :head do %>
  <script type="text/javascript">
    var gs_bounds = new OpenLayers.Bounds(<%=@bbox-%>);
    var mapBaseURL = '/layers';
    var mapThumbBaseURL = '/layers/thumb';
  </script> 
  <%= javascript_include_tag "geosearch" %>
  <%= javascript_include_tag "geosearch-layer" %>

  <% @onload = "searchmapinit();" %> 
<% end %>

<h2>Find Mosaics.</h2>
<p>Move or zoom map - both the map and list will be updated with found mosaics. <br /> Mosaics are shown if they have one or more rectified maps within them, and are visible (not a meta collection/mosaic).
</p>
<div id="searchmap-container">
  <div id="searchmap-list-block">


    <table id="searchmap-table" style="table-layout:fixed">


    </table>
  </div>
  <div id="searchmap-block">
    <form id='placeSearchForm'  onsubmit='doPlaceSearch(this);
        return false;' class='geosearchform'>
      <input type="text" id="place" name="place" value="">
      <input type="hidden" name="operation" value="intersect" >
      <input type="submit" value="Find Location!" class="geosearch-button">
    </form>
    <span id="loadingDiv"><%= image_tag "spinner-horiz.gif" %> </span>

    <div id="searchmap"></div>
  </div>
</div>
<div id="under-searchmap-container">
</div>

