<h2>New Mosaic</h2>
<em>Note: All Mosaics are public, you can add unlisted maps to them they won't be listed<br />
  but they could be seen on the final map image.</em>
<%= error_messages_for @layer %>

<%= render :partial => "form", :locals => {:page => "new"} %>
