<h2>New layer</h2>
<em>Note: All Layers are public, you can add your private maps to them, they won't be listed<br />
but they could be seen on the final map image.</em>
<%= error_messages_for :layer %>

<%= render :partial => "form", :locals => {:page => "new"} %>
