<%= link_to "&lt; Back to imports".html_safe, imports_path %>
<h2>Bulk Control Point CSV Import</h2>

<div class="help">
  For individual maps instead of using this page you can upload a CSV on the map recitfy view, under the control points table. The csv should have a header <pre><code>x,y,lon,lat</code></pre>
</div>

<h3>New Bulk Import</h3>
<div class="help">
  Use this page to import many control points for many maps. Upload a CSV, comma separated file with a header row with the following format:
  <pre><code>mapid,x,y,lon,lat</code></pre>where mapid equals the map ID for each map you want to add a control point to. <br />
  Points can only be added, not updated. Duplicate control points will not be added if imported again.
</div>

<%= form_tag add_many_gcps_url, multipart: true, :id => "upload_csv_form" do %>
  <label for="file">CSV File to Upload</label>
  <%= file_field_tag :file %><br />
  <%= submit_tag "Upload CSV!" %>
<% end %>