body {
  color: black;
}

$yellow-prov: rgb(249, 229, 60);
$light-yellow-prov: rgb(253, 245, 177);

#footer {
  text-align: initial;
  font-size: initial;
  text-transform: initial;
  clear: initial;
  padding: initial;
  margin: initial;
  box-sizing: border-box;
  font-size: 100.01%;
}

#footer .holder {
  position: relative;
  padding: 39px 9px 28px 0;
}

#footer .holder:before {
  content: "";
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
  z-index: -1;
}

*:before,
*:after {
  box-sizing: border-box;
}

.footer-block1 {
  margin-bottom: 55px;
}

.footer-block2 {
  margin-bottom: 45px;
}

#footer .big-col {
  float: left;
  width: 63%;
}

#footer .additional-link {
  margin: 6px 57px 0 -5px;
  max-width: 500px;
}

.additional-link {
  font-size: 14px;
  line-height: 18px;
}

.pull-left {
  float: left !important;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.pull-right {
  float: right !important;
}

.additional-link li {
  margin: 0 19px 5px 0;
}

.list-inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.additional-link a {
  color: #fff;
}

#footer a {
  text-decoration: none;
  transition: color 0.3s ease;
  background-color: transparent;
}

#footer .social-networks {
  float: left;
  max-width: 100px;
}

#footer .small-col {
  float: right;
  width: 32.4%;
}

.footer-block2:after {
  content: "";
  clear: both;
  display: table;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  overflow-wrap: normal;
}

.questions {
  font-size: 14px;
  line-height: 18px;
  padding: 5px 0 0;
}

.questions li {
  margin: 0 0 4px;
}

.questions a {
  color: #fff;
}

.footer-multi-links {
  margin: 0 0 73px;
}

.footer-multi-links .col {
  float: left;
  width: 16.9%;
  padding: 0 10px 0 0;
}

.footer-multi-links .title {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin: 0 0 30px;
}

.footer-links {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
}

.footer-links li {
  margin: 0 0 7px;
}

.footer-links a {
  color: #949494;
}

.footer-links a:hover {
  color: #fff;
  transition: color 0.3s ease;
}

.footer-multi-links .title {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin: 0 0 30px;
}

.footer-info {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 0 0 0 9px;
}

.footer-info p {
  display: inline-block;
}

.footer-multi-links:after {
  content: "";
  clear: both;
  display: table;
}

.footer-info address {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  margin: -2px 0 0 2px;
}

address {
  margin-bottom: 24px;
  font-style: normal;
  line-height: 1.4705;
}

footer {
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  padding: 23px 12px 23px 0;
  max-width: 1115px;

  margin-left: auto;
  
  margin-right: auto;

}

footer .copyright {
  float: left;
  margin: 0 19px 0 0;
  max-width: 140px;
}

footer .additional-link2 {
  max-width: 560px;
}

.additional-link2 li {
  float: left;
  margin: 0 19px 5px 0;
}

.additional-link2 a {
  color: #000;
}

.additional-link2 {
  float: left;
}

footer .footer-holder {
  float: left;
  padding: 5px 0 0;
}

footer .logo-holder {
  overflow: hidden;
  max-width: 340px;
  margin: 0;
}

footer .logo-holder li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 10px 32px;
}

.container-fluid {
  max-width: 1115px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:before,
.container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.black-bar{
  background: black;
}

.black-holder {
  max-width: 1115px;
margin-left: auto;
margin-right: auto;
padding: 39px 9px 28px 0;
}


#prov_bar {
  background-color: #000000;
  color: #AAAAAA;
  font-size: 14px;
  padding: 4px 16px 5px 8px;
  position: relative;
  font-family: "Kievit", "Myriad Pro", "Lucida Grande", "Calibri", "verdana", "arial", "helvetica", "sans-serif";
}

#prov_bar .prov-logo {
  float: left;
}

#prov_bar a,
#prov_bar a:link,
#prov_bar a:visited {
  color: #FFFFFF;
}

#prov_bar form {
  display: inline;
  margin-left: 20px;
}

h1 {
  background: none;
  padding: 0px 1em;
}

.headerDiv h1 {
  font-size: 36px;
  margin-left: 5px;
  line-height: 1;
  padding: 8px 0 7px 10px !important;
}

.license {
  text-align: center;
}

#search-form {
  background: $light-yellow-prov;
}

#left-col {
  background: $light-yellow-prov;
}

#map_table tbody tr:nth-of-type(odd),
#layer_table tr:nth-of-type(odd),
#map_table tbody tr:nth-of-type(even),
#layer_table tr:nth-of-type(even) {
  background: white;
  border-left:8px solid #f9e53c;
  margin-bottom: 15px;
  border-bottom: 5px solid #ddd;
}


#map_table td,
#map_table th,
#layer_table td,
#layer_table th {
  border-top: 0px solid #ddd;

}



#map_table th,
#layer_table th {
  background: black !important;
}

#map_table thead tr,
#layer_table thead tr {
  border-left:8px solid black !important;
}



#map_table, #layer_table {
  border-top:0px;
  -webkit-box-shadow:2px 2px 4px  0 rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 4px  0 rgba(0,0,0,0.3);
   box-shadow: 2px 2px 4px  0 rgba(0,0,0,0.3);

  tr:last-child
  {
    border-bottom: none !important;
  }

}


#warper-maindiv .buttonWarper {
  background: $yellow-prov;
  color: black;
}

#warper-maindiv .buttonWarper:hover {
  background: $yellow-prov;
  background: $light-yellow-prov;
}

.buttonWarper,
.buttonWarperBlue,
input[type="submit"],
.headerDiv .user_status a,
.selected-locale,
.selective-locale {
  background: $yellow-prov;
  color: black;
}

#navlist li a,
#navlist li span {
  background: $light-yellow-prov
}

#navlist li span {
  background: $yellow-prov;
  color: black;
}

#navlist li a:hover {
  background: $yellow-prov;
  color: black;
}


@media screen and (max-width: 1590px) {
  #navlist li.responsive_wide{ display:none;}
}
@media screen and (max-width: 1168px) {
  #navlist li.responsive_narrow{ display:none;}
}
@media screen and (max-width: 680px) {
  #navlist li.responsive{ display:none;}
}

/* responsive nav tabs for Japanese locale */
@media screen and (max-width: 1780px) {
  #navlist.ja li.responsive_wide{ display:none;}
}
@media screen and (max-width: 1378px) {
  #navlist.ja li.responsive_narrow{ display:none;}
}

@media screen and (max-width: 730px) {
  #navlist.ja li.responsive{ display:none;}
}