<!DOCTYPE html>
<html>
<head>
  <title>Rails4Mapwarper</title>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
